@charset "UTF-8";

@font-face {
  font-family: Cygre;
  font-display: swap;
  src: url("../fonts/Cygre-Medium.woff2") format("woff2"), url("../fonts/Cygre-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Cygre;
  font-display: swap;
  src: url("../fonts/Cygre-ExtraBold.woff2") format("woff2"), url("../fonts/Cygre-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Cygre;
  font-display: swap;
  src: url("../fonts/Cygre-Regular.woff2") format("woff2"), url("../fonts/Cygre-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Cygre;
  font-display: swap;
  src: url("../fonts/Cygre-SemiBold.woff2") format("woff2"), url("../fonts/Cygre-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.form__column._success,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-arrow-r:before {
  content: "\e901";
}

._icon-check:before {
  content: "\e902";
}

:root {
  --primary: #fff;
  --success: #378711;
  --accent: #ED0474;
  --inverse: #C90061;
  --active: #7A003B;
  --bg-primary: #010211;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: var(--primary);
  line-height: 1;
  font-family: "Cygre", sans-serif;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*чтобы не прыгали цифры*/
}

input,
button,
textarea {
  font-family: "Cygre";
  font-size: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: var(--bg-primary);
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 83.75rem;
  margin: 0 auto;
  padding: 0 1.875rem;
}

[class*=__container-big] {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 0.625rem;
}

.form {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}

.form__column._success {
  position: relative;
}

.form__column._success:before {
  content: "\e902";
  font-size: 0.875rem;
  color: var(--success);
  position: absolute;
  top: 50%;
  right: 0;
  translate: -1.25rem -50%;
}

.form__input {
  border-radius: 0.3125rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.5) 100%);
}

.form__button {
  min-width: 100%;
}

.form__button ._success-btn {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.form__button ._success-btn:before {
  font-size: 0.875rem;
  translate: 0 -0.1875rem;
}

._send-success .form__button ._success-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__button ._default-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.form__button ._default-btn:before {
  font-size: 0.875rem;
  translate: 0 -0.1875rem;
}

._send-success .form__button ._default-btn {
  display: none;
}

.form__agree {
  margin-top: 0.625rem;
  opacity: 0.7;
}

.button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.3125rem;
  gap: 0.3125rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: var(--accent);
  border-radius: 0.3125rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button:before {
  font-size: 0.875rem;
  translate: 0 -0.1875rem;
}

.button:active {
  background-color: var(--active);
}

.button--fw {
  width: 100%;
}

._send-success .button {
  background-color: var(--active);
}

/*
.inverted {
	display: inline-block;
	position: relative;
	overflow: hidden;
	padding-bottom: em(3,36);
	&.button{
		padding-bottom: rem(15);
		&:before{
			display: none;
		}
		&.button{
			&:after{
				background-color: rgba(255,255,255,.4);
			}
		}
	}
	&:before {
		position: absolute;
		content: "";
		width: 100%;
		height: rem(2);
		bottom: 0;
		left: 0;
		background-color: #000;
		z-index: 3;
		transition: .3s;
	}
	&:after {
		position: absolute;
		content: "";
		height: 120%;
		width: 30%;
		background-color: rgba(255,255,255,.7);
		z-index: 5;
		bottom: 0;
		left: 110%;
		transform: rotate(45deg);
		transition: 0.3s ease-in-out;
		filter: blur(15px);
	}
	span {
		position: relative;
		z-index: 3;
	}
	@media (any-hover: hover) {
		&:hover {
			&:before {
				width: 100%;
			}
			&:after {
				width: 30%;
				left: -30%;
			}
		}
	}
}
*/

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  font-size: 1.125rem;
  width: 100%;
  display: block;
  padding: 0 20px;
  color: var(--bg-primary);
  height: 3.75rem;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  color: var(--bg-primary);
  opacity: 50%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  color: var(--bg-primary);
  opacity: 50%;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  color: var(--bg-primary);
  opacity: 50%;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  color: var(--bg-primary);
  opacity: 50%;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  color: var(--bg-primary);
  opacity: 50%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.spollers {
  display: -ms-grid;
  display: grid;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  padding: 1.25rem 0;
  position: relative;
  list-style: none;
  opacity: 0.7;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.3);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.spollers__title::-webkit-details-marker {
  display: none;
}

._spoller-init .spollers__title {
  cursor: pointer;
  /*
  ._spoller-init & {
      position: relative;
      width: 100%;
      text-align: left;
      &::before,
      &::after {
          content: "";
          position: absolute;
          right: 0;
          top: toRem(12);
          height: toRem(1);
          transition: all 0.3s ease 0s;
          width: toRem(10);
          background-color: #000;
      }
      &::before {
          transform: rotate(40deg);
          right: toRem(7);
      }
      &::after {
          transform: rotate(-40deg);
      }
  }
  &._spoller-active {
      &::before {
          transform: rotate(-40deg);
      }
      &::after {
          transform: rotate(40deg);
      }
  }
  */
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  background-color: var(--primary);
  height: 2px;
  width: 24px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(0, -50%) rotate(90deg);
      -ms-transform: translate(0, -50%) rotate(90deg);
          transform: translate(0, -50%) rotate(90deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(0deg);
      -ms-transform: translate(0, -50%) rotate(0deg);
          transform: translate(0, -50%) rotate(0deg);
}

._spoller-init .spollers__title._spoller-active {
  border-bottom: 0;
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.3);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.about__items::-webkit-scrollbar {
  display: none;
}

.functional-item,
.item-about,
.item-advantages {
  position: relative;
}

.functional-item:before,
.item-about:before,
.item-advantages:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1.25rem;
  padding: 0.0625rem;
  background: linear-gradient(100deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.item-about:before {
  background: linear-gradient(300deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
}

.functional-item {
  border-radius: 0.9375rem;
}

.functional-item:before {
  border-radius: 0.9375rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
}

.title {
  line-height: 110%;
  text-transform: uppercase;
}

.title_h1 {
  font-weight: 800;
}

.title_h2 {
  font-weight: 600;
}

.title_h3 {
  text-transform: initial;
  font-weight: 600;
}

.text {
  line-height: 110%;
}

.text_btn {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1;
}

.text_accent {
  font-weight: 600;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social .social__item {
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.title-page {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  padding: 0.625rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid var(--primary);
}

.title-block {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header {
  padding-top: 4.125rem;
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  translate: -50% 0;
  z-index: 4;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13.25rem;
          flex: 0 0 13.25rem;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__lang {
  position: relative;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__social {
  -ms-grid-row: 3;
  grid-row: 3;
  margin-top: 2.5rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lang {
  position: relative;
}

.lang__btn {
  font-size: 1.125rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.lang__btn:before {
  font-size: 0.5625rem;
  -webkit-transition: rotate 0.3s;
  transition: rotate 0.3s;
}

._show .lang__btn:before {
  rotate: 180deg;
}

.submenu {
  position: absolute;
  top: 100%;
  translate: 0 0.3125rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

._show .submenu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.submenu__link {
  font-size: 1.125rem;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.icon-menu {
  display: none;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  padding-bottom: 2rem;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.3);
}

.footer__bottom {
  padding-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
}

.footer__text {
  opacity: 0.7;
}

.top-footer__col:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13.25rem;
          flex: 0 0 13.25rem;
}

.top-footer__title {
  margin-bottom: 1.25rem;
}

.hero {
  margin-top: 1.875rem;
}

.hero__inner {
  padding: 10.9375rem 1.25rem;
  border-radius: 1.25rem;
  overflow: hidden;
  background: no-repeat center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.hero__title {
  max-width: 68.75rem;
}

.hero__btn {
  min-width: 11.6875rem;
}

.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  overflow: auto;
  -ms-overflow-style: none;
  /* IE и Edge */
  scrollbar-width: none;
  /* Firefox */
}

.advantages__items::-webkit-scrollbar {
  display: none;
}

.item-advantages {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 19.0625rem;
          flex: 0 0 19.0625rem;
  border-radius: 1.25rem;
  overflow: hidden;
  padding: 2.5rem 1.25rem;
  min-height: 12.375rem;
}

.item-advantages__text {
  opacity: 0.7;
}

.item-advantages__img {
  position: absolute;
  width: 4.6875rem;
  height: 4.6875rem;
  bottom: 2.5rem;
  right: 2.5rem;
}

.about__inner {
  border-radius: 1.25rem;
  overflow: hidden;
  background: no-repeat top/cover;
}

.about__container {
  padding: 0 1.25rem;
}

.about__items {
  gap: 1.25rem;
}

.item-about {
  padding: 2.5rem 1.875rem;
  border-radius: 1.25rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #010211), color-stop(99.8%, rgba(1, 2, 17, 0)));
  background: linear-gradient(180deg, #010211 50%, rgba(1, 2, 17, 0) 99.8%);
}

.item-about__title {
  font-weight: 600;
}

.whom__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.whom__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10rem;
          flex: 0 0 10rem;
}

.functional__items {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}

.functional-item {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 2, 17, 0)), color-stop(54.58%, rgba(1, 2, 17, 0.51)), to(#ED0474));
  background: linear-gradient(180deg, rgba(1, 2, 17, 0) 0%, rgba(1, 2, 17, 0.51) 54.58%, #ED0474 100%);
  padding: 2.5rem 1.875rem;
}

.functional-item__text {
  opacity: 0.7;
}

.sign-up__container {
  padding: 0 1.25rem;
}

.sign-up__inner {
  border-radius: 1.25rem;
  background: no-repeat bottom/cover;
}

.sign-up__form {
  max-width: 53.125rem;
  margin-left: auto;
}

@media (min-width: 29.99875em) {
  .title-block__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66%;
            flex: 0 0 66%;
  }

  .whom__spoilers {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 47.99875em) {
  .form {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .functional__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 61.99875em) {
  .header__btn {
    min-width: 11.6875rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 11.6875rem;
            flex: 0 0 11.6875rem;
  }

  .menu__social {
    display: none;
  }

  .menu__link {
    font-size: 1.125rem;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  .hero__action {
    display: none;
  }

  .about__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 83.75em) {
  .form__agree {
    font-size: 1.125rem;
  }

  .text {
    font-size: 1.125rem;
  }

  .text_accent {
    font-size: 1.5rem;
  }

  .section-bottom {
    padding-bottom: 6.25rem;
  }

  .section-padding {
    padding-bottom: 6.25rem;
  }

  .section-padding {
    padding-top: 6.25rem;
  }

  .footer {
    padding-bottom: 3.75rem;
  }

  .hero__title {
    margin-bottom: 2.5rem;
  }

  .advantages__title {
    margin-bottom: 2.75rem;
  }

  .about__block {
    margin-bottom: 3.75rem;
  }

  .item-about__title {
    margin-bottom: 1.25rem;
  }

  .whom__block {
    margin-bottom: 3.75rem;
  }

  .functional__title {
    margin-bottom: 3.75rem;
  }

  .functional-item__title {
    margin-bottom: 1.25rem;
  }

  .sign-up__block {
    margin-bottom: 5rem;
  }
}

@media (min-width: 87.5em) {
  [class*=__container-big] {
    padding: 0 1.875rem;
  }
}

@media (min-width: 100em) {
  .header__actions {
    gap: 1.875rem;
  }
}

@media (min-width: 120em) {
  .title_h1 {
    font-size: 3.875rem;
  }

  .title_h2 {
    font-size: 2.5rem;
  }

  .title_h3 {
    font-size: 1.5rem;
  }

  .social.footer__social {
    gap: 1.875rem;
  }

  .hero__inner {
    min-height: 51.875rem;
  }

  .item-about__title {
    font-size: 1.5rem;
  }
}

@media (max-width: 62em) {
  .title_h3 {
    font-size: 1.25rem;
  }

  .social.footer__social {
    gap: 0.625rem;
  }

  .header__actions {
    gap: 0.625rem;
  }

  .hero__inner {
    min-height: 37.5rem;
  }

  .item-about__title {
    font-size: 1.25rem;
  }
}

@media (max-width: 30em) {
  .title_h1 {
    font-size: 1.375rem;
  }

  .title_h2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 20em) {
  .form__agree {
    font-size: 1rem;
  }

  .text {
    font-size: 1rem;
  }

  .text_accent {
    font-size: 1.125rem;
  }

  .section-bottom {
    padding-bottom: 2.5rem;
  }

  .section-padding {
    padding-bottom: 2.5rem;
  }

  .section-padding {
    padding-top: 2.5rem;
  }

  .footer {
    padding-bottom: 2.5rem;
  }

  .hero__title {
    margin-bottom: 1.25rem;
  }

  .advantages__title {
    margin-bottom: 1.875rem;
  }

  .about__block {
    margin-bottom: 1.875rem;
  }

  .item-about__title {
    margin-bottom: 0.625rem;
  }

  .whom__block {
    margin-bottom: 1.875rem;
  }

  .functional__title {
    margin-bottom: 1.875rem;
  }

  .functional-item__title {
    margin-bottom: 0.625rem;
  }

  .sign-up__block {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  .header {
    padding-top: 2.875rem;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 6.4375rem;
            flex: 0 0 6.4375rem;
    position: relative;
    z-index: 5;
  }

  .header__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
    margin-top: 1.875rem;
  }

  .header__btn {
    margin-top: 2.5rem;
    min-width: 100%;
  }

  .menu__body {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: start;
        align-content: start;
    padding: 11.0625rem 1.875rem 1.875rem;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    z-index: 4;
    background-color: var(--bg-primary);
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.875rem;
  }

  .menu__link {
    font-size: 1.5rem;
  }

  .lang__btn {
    font-size: 1.5rem;
  }

  .submenu__link {
    font-size: 1.5rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.5rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }

  .top-footer__col:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .top-footer__col:first-child img {
    width: 100%;
  }

  .top-footer__col:nth-child(2) {
    display: none;
  }

  .top-footer__col:last-child {
    display: none;
  }

  .top-footer__menu {
    display: none;
  }

  .hero {
    margin-top: 0.625rem;
  }

  .hero__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .advantages__items {
    margin-right: -1.25rem;
  }

  .about__items {
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.625rem;
    margin-right: -1.25rem;
  }

  .item-about {
    padding: 2.5rem 1.25rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 17.8125rem;
            flex: 0 0 17.8125rem;
  }

  .functional-item {
    padding: 2.5rem 1.25rem;
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) {
  .item-advantages {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 17.8125rem;
            flex: 0 0 17.8125rem;
  }

  .whom__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3125rem;
            flex: 0 0 8.3125rem;
  }
}

@media (max-width: 29.99875em) {
  .text_accent {
    font-weight: 400;
  }

  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .top-footer__col:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 84%;
            flex: 0 0 84%;
  }

  .hero__inner {
    padding: 12.5rem 1.25rem 5rem;
  }

  .hero__action {
    width: 100%;
  }

  .hero__btn {
    min-width: 100%;
  }

  .whom__logo {
    display: none;
  }

  .whom__spoilers {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (min-width: 20em) and (max-width: 83.75em) {
@supports (font-size: clamp( 1rem , 0.9607843137rem  +  0.1960784314vw , 1.125rem )) {
    .form__agree {
      font-size: clamp( 1rem , 0.9607843137rem  +  0.1960784314vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9607843137rem  +  0.1960784314vw , 1.125rem )) {
    .form__agree {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 63.75);
    }
}

@supports (font-size: clamp( 1rem , 0.9607843137rem  +  0.1960784314vw , 1.125rem )) {
    .text {
      font-size: clamp( 1rem , 0.9607843137rem  +  0.1960784314vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9607843137rem  +  0.1960784314vw , 1.125rem )) {
    .text {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 63.75);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0073529412rem  +  0.5882352941vw , 1.5rem )) {
    .text_accent {
      font-size: clamp( 1.125rem , 1.0073529412rem  +  0.5882352941vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0073529412rem  +  0.5882352941vw , 1.5rem )) {
    .text_accent {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 63.75);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 6.25rem )) {
    .section-bottom {
      padding-bottom: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 6.25rem )) {
    .section-bottom {
      padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 63.75);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 6.25rem )) {
    .section-padding {
      padding-bottom: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 6.25rem )) {
    .section-padding {
      padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 63.75);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 6.25rem )) {
    .section-padding {
      padding-top: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.3235294118rem  +  5.8823529412vw , 6.25rem )) {
    .section-padding {
      padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 63.75);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 2.1078431373rem  +  1.9607843137vw , 3.75rem )) {
    .footer {
      padding-bottom: clamp( 2.5rem , 2.1078431373rem  +  1.9607843137vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 2.1078431373rem  +  1.9607843137vw , 3.75rem )) {
    .footer {
      padding-bottom: calc(2.5rem + 1.25 * (100vw - 20rem) / 63.75);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8578431373rem  +  1.9607843137vw , 2.5rem )) {
    .hero__title {
      margin-bottom: clamp( 1.25rem , 0.8578431373rem  +  1.9607843137vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8578431373rem  +  1.9607843137vw , 2.5rem )) {
    .hero__title {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 63.75);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.6004901961rem  +  1.3725490196vw , 2.75rem )) {
    .advantages__title {
      margin-bottom: clamp( 1.875rem , 1.6004901961rem  +  1.3725490196vw , 2.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.6004901961rem  +  1.3725490196vw , 2.75rem )) {
    .advantages__title {
      margin-bottom: calc(1.875rem + 0.875 * (100vw - 20rem) / 63.75);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.2867647059rem  +  2.9411764706vw , 3.75rem )) {
    .about__block {
      margin-bottom: clamp( 1.875rem , 1.2867647059rem  +  2.9411764706vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.2867647059rem  +  2.9411764706vw , 3.75rem )) {
    .about__block {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 63.75);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4289215686rem  +  0.9803921569vw , 1.25rem )) {
    .item-about__title {
      margin-bottom: clamp( 0.625rem , 0.4289215686rem  +  0.9803921569vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4289215686rem  +  0.9803921569vw , 1.25rem )) {
    .item-about__title {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 63.75);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.2867647059rem  +  2.9411764706vw , 3.75rem )) {
    .whom__block {
      margin-bottom: clamp( 1.875rem , 1.2867647059rem  +  2.9411764706vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.2867647059rem  +  2.9411764706vw , 3.75rem )) {
    .whom__block {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 63.75);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.2867647059rem  +  2.9411764706vw , 3.75rem )) {
    .functional__title {
      margin-bottom: clamp( 1.875rem , 1.2867647059rem  +  2.9411764706vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.2867647059rem  +  2.9411764706vw , 3.75rem )) {
    .functional__title {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 63.75);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4289215686rem  +  0.9803921569vw , 1.25rem )) {
    .functional-item__title {
      margin-bottom: clamp( 0.625rem , 0.4289215686rem  +  0.9803921569vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4289215686rem  +  0.9803921569vw , 1.25rem )) {
    .functional-item__title {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 63.75);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.8946078431rem  +  4.9019607843vw , 5rem )) {
    .sign-up__block {
      margin-bottom: clamp( 1.875rem , 0.8946078431rem  +  4.9019607843vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.8946078431rem  +  4.9019607843vw , 5rem )) {
    .sign-up__block {
      margin-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 63.75);
    }
}
}

@media (min-width: 30em) and (max-width: 120em) {
@supports (font-size: clamp( 1.375rem , 0.5416666667rem  +  2.7777777778vw , 3.875rem )) {
    .title_h1 {
      font-size: clamp( 1.375rem , 0.5416666667rem  +  2.7777777778vw , 3.875rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 0.5416666667rem  +  2.7777777778vw , 3.875rem )) {
    .title_h1 {
      font-size: calc(1.375rem + 2.5 * (100vw - 30rem) / 90);
    }
}

@supports (font-size: clamp( 1.25rem , 0.8333333333rem  +  1.3888888889vw , 2.5rem )) {
    .title_h2 {
      font-size: clamp( 1.25rem , 0.8333333333rem  +  1.3888888889vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.8333333333rem  +  1.3888888889vw , 2.5rem )) {
    .title_h2 {
      font-size: calc(1.25rem + 1.25 * (100vw - 30rem) / 90);
    }
}
}

@media (min-width: 62em) and (max-width: 120em) {
@supports (font-size: clamp( 1.25rem , 0.9827586207rem  +  0.4310344828vw , 1.5rem )) {
    .title_h3 {
      font-size: clamp( 1.25rem , 0.9827586207rem  +  0.4310344828vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.9827586207rem  +  0.4310344828vw , 1.5rem )) {
    .title_h3 {
      font-size: calc(1.25rem + 0.25 * (100vw - 62rem) / 58);
    }
}

@supports (gap: clamp( 0.625rem , -0.7112068966rem  +  2.1551724138vw , 1.875rem )) {
    .social.footer__social {
      gap: clamp( 0.625rem , -0.7112068966rem  +  2.1551724138vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.625rem , -0.7112068966rem  +  2.1551724138vw , 1.875rem )) {
    .social.footer__social {
      gap: calc(0.625rem + 1.25 * (100vw - 62rem) / 58);
    }
}

@supports (min-height: clamp( 37.5rem , 22.1336206897rem  +  24.7844827586vw , 51.875rem )) {
    .hero__inner {
      min-height: clamp( 37.5rem , 22.1336206897rem  +  24.7844827586vw , 51.875rem );
    }
}

@supports not (min-height: clamp( 37.5rem , 22.1336206897rem  +  24.7844827586vw , 51.875rem )) {
    .hero__inner {
      min-height: calc(37.5rem + 14.375 * (100vw - 62rem) / 58);
    }
}

@supports (font-size: clamp( 1.25rem , 0.9827586207rem  +  0.4310344828vw , 1.5rem )) {
    .item-about__title {
      font-size: clamp( 1.25rem , 0.9827586207rem  +  0.4310344828vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.9827586207rem  +  0.4310344828vw , 1.5rem )) {
    .item-about__title {
      font-size: calc(1.25rem + 0.25 * (100vw - 62rem) / 58);
    }
}
}

@media (min-width: 62em) and (max-width: 100em) {
@supports (gap: clamp( 0.625rem , -1.4144736842rem  +  3.2894736842vw , 1.875rem )) {
    .header__actions {
      gap: clamp( 0.625rem , -1.4144736842rem  +  3.2894736842vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.625rem , -1.4144736842rem  +  3.2894736842vw , 1.875rem )) {
    .header__actions {
      gap: calc(0.625rem + 1.25 * (100vw - 62rem) / 38);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: var(--inverse);
  }

  .spollers__title:hover {
    opacity: 1;
  }

  .footer__social .social__item:hover {
    opacity: 1;
  }

  .menu__link:hover {
    opacity: 100%;
  }

  .lang__btn:hover {
    opacity: 1;
  }

  .submenu__link:hover {
    opacity: 1;
  }
}

@media (any-hover: none) {
  .spollers__title {
    opacity: 1;
  }

  .footer__social .social__item {
    opacity: 1;
  }

  .lang__btn {
    opacity: 1;
  }
}